--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
### For cuda11.2.2-cudnn8 ###
tensorflow-gpu==2.7.0
keras==2.7.0
torch==1.10.1
torchvision==0.11.2
torchinfo==1.6.0
optuna==2.10.0
cupy-cuda112==10.0.0

### Common Libraries ###
-r ../common/requirements.txt
