--find-links https://download.pytorch.org/whl/cu115/torch_stable.html
### For cuda11.4.0-cudnn8 ###
tensorflow-gpu==2.8.0
keras==2.8.0
torch==1.13.1
torchvision==0.14.1
optuna==2.10.1
cupy-cuda114==10.2.0

### Common Libraries ###
-r ../common/requirements.txt
