--find-links https://download.pytorch.org/whl/cu115/torch_stable.html
### For cuda11.4.2-cudnn8 ###
tensorflow==2.11.0
keras==2.15.0
torch==1.13.1
torchvision==0.19.1
optuna==4.1.0
cupy-cuda114==10.6.0

### Common Libraries ###
-r ../common/requirements.txt
