--find-links https://download.pytorch.org/whl/nightly/cu115/torch_nightly.html
--find-links https://pip.cupy.dev/pre/
--pre
### For cuda11.4.2-cudnn8 ###
torch
torchvision
tf-nightly-gpu==2.8.0.dev20211221
keras==2.7.0
torchinfo==1.6.0
optuna==3.0.0a0
cupy-cuda114==10.0.0

### Common Libraries ###
-r ../common/requirements.txt
