--find-links https://download.pytorch.org/whl/cu102/torch_stable.html
### For cuda10.2-cudnn8 ###
tensorflow-gpu==2.5.3
keras==2.4.3
torch==1.7.1
torchvision==0.8.2
optuna==2.10.1
cupy-cuda102==8.6.0

### Common Libraries ###
-r ../common/requirements.txt
