--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
### For cuda11.3.1-cudnn8 ###
tensorflow-gpu==2.8.0
keras
torch==1.10.2
torchvision
torchinfo==1.6.3
optuna==2.10.0
cupy-cuda113==10.1.0

### Common Libraries ###
-r ../common/requirements.txt
