--find-links https://download.pytorch.org/whl/cu115/torch_stable.html
### For cuda11.5.1-cudnn8 ###
tensorflow==2.12.0rc1
keras==2.11.0
torch==1.13.1
torchvision==0.14.1
optuna==2.10.1
cupy-cuda115==10.2.0

### Common Libraries ###
-r ../common/requirements.txt
