--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
### For cuda11.3.0-cudnn8 ###
tensorflow-gpu==2.6.1
keras==2.6.0
torch==1.10.2
torchvision==0.11.3
torchinfo==1.5.4
optuna==2.10.0
cupy-cuda113==9.6.0

### Common Libraries ###
-r ../common/requirements.txt
