### jupyter extensions ###
ipywidgets
jupyterlab-nvdashboard
lckr-jupyterlab-variableinspector

### Common Libaries ###
tqdm
addict
progressbar
pycocotools
requests
cmake
scikit-build
tabulate
tensorflow_model_optimization
Keras-Applications
opencv-python==4.5.4.60
jupyterlab==3.2.5
